body {
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0f0f0f;
    color: #fff;
    padding: 2px;
   
    text-align: center;
}

.nav-links {
  text-align: center;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ff6347; 
}

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.image-slider {
    position: relative;
    width: 50%;
    max-width: 600px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(40, 39, 39);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.about-content {
    color: #f4f4f4;
    width: 40%;
    padding: 20px;
}

.about-content h2 {
    margin-bottom: 20px;
}

.about-content p {
    line-height: 1.6;
}